{% extends "layout.html" %}
{% block content %}

<div class="title-text">
    <h1>About Us</h1>
    </div>
  
    <div class="feature-box">
        <div class="features">
            <div class="features-desc">
                <div class="feature-text">
                <p>A firm believer that you can always train for skill, but not for talent and passion. 
                    When I am looking to bring on a new team member, I explore for somebody who is attending to bring vitality and energy to their part over all else. 
                    Without that, particularly in a startup environment, the specialized skills mean little.
                    STATICstartup is a family-owned and operated business that specializes in providing high-quality gym training at affordable pricing.
                    
                    Rather to becoming just another gym center, our founders put their minds on being the finest in the market.
                    STATICstartup has evolved into one of Trinidad's largest fitness centers over the last decade, assisting thousands of customers in living longer, 
                    happier, and healthier lives.</p>
                    <br>
                </div>
            </div>
            </div>
            </div>
            <section id="footer">
                <div class="title-text">
                    <h1>Opening hours</h1>
                    </div>
                <div class="feature-text">
                    <p>Tuesday to Friday - 10AM To 10PM</p>
                    <p>Saturday - 8AM To 10PM</p>


                    <div class="title-text">
                      <h1>Stay in touch</h1>
                        </div>

                    <div class="footer-left">
                    <p>#69 winterFresh Califonia<i class="fa fa-map-marker"></i></p> 
                      <p>STATICstartup@website.com<i class="fa fa-paper-plane"></i></p> 
                      <p>+966 345-8921<i class="fa fa-phone"></i></p> 
                      </div>
           
                      <div class="social-links">
                        <a href="https://instagram.com/fitnessclub_868?utm_medium=copy_link"><i class="fa fa-instagram"></i></a> 
                        <a href="https://www.facebook.com/Fitness-Club-101444562531416"><i class="fa fa-facebook"></i></a>      
                        <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
                        <p>Copyright STATICstartup</p>
                        <br>
                         
                    </div>

            </div>
            </section>

          
         
{% endblock content %}
    



